<section class="auth">
  <div class="container">
    <form class="auth-form" [formGroup]="signUpForm">
      <div class="auth-form-title">Registration on the website</div>
      <div class="inputs">
        <input type="text" formControlName="name" #name
               [ngStyle]="{'border-color': signUpForm.get('name')?.invalid &&
                (signUpForm.get('name')?.touched || signUpForm.get('name')?.dirty) ? 'red' : ''}"
               class="input" placeholder="Name">
        <input type="text" formControlName="email"
               [ngStyle]="{'border-color': signUpForm.get('email')?.invalid &&
                (signUpForm.get('email')?.touched || signUpForm.get('email')?.dirty) ? 'red' : ''}"
               class="input" placeholder="Email">
        <input [type]="showPasswordValue ? 'text' : 'password'" formControlName="password"
               [ngStyle]="{'border-color': signUpForm.get('password')?.invalid &&
                (signUpForm.get('password')?.touched || signUpForm.get('password')?.dirty) ? 'red' : ''}"
               class="input" placeholder="Password">
        <mat-icon class="signup__eye" (click)="showPassword()" [fontIcon]="!showPasswordValue ? 'visibility' : 'visibility_off'"></mat-icon>
        <label>
          <input type="checkbox" formControlName="rules" class="auth-form-conditions">
          <div class="auth-form-conditions-text">
            I accept <a href="#">the terms of the user agreement</a> and consent <a href="#">to the processing of personal data.</a>
          </div>
        </label>
      </div>
      <button class="btn auth-form-button" (click)="signup()">Sign Up</button>
      <div class="auth-question">
        Do you already have an account? <a [routerLink]="'/' + AppRoutesEnum.LOGIN">Log In</a>
      </div>
    </form>
  </div>
</section>

