$light-text-primary: #121212;
$light-background-secondary: #d7d7d7;
$light-background-primary: #ececec;
$light-text-secondary: #777;
$light-yellow: #e0b519;
$dark-text-primary: #c3c3c3;
$dark-text-secondary: #797979;
$dark-background-secondary: #1a1a1a;
$dark-background-primary: #0e0e0e;
$dark-background-nav: #080808;
$background-light-transparent-100: rgba(163, 163, 163, 0.15);
$background-light-transparent-50: rgba(163, 163, 163, 0.05);
$background-transparent-600: rgba(163, 163, 163, 0.6);
$main-light-yellow: #f5c518;
$main-light-yellow-sec-light: #b29630;
$main-light-yellow-sec-dark: #d8c882;
$main-blue: #42bdda;


