@if(view() === 'compact') { @for (item of names(); track item.id) {
<div class="movie">
  <div class="header">
    <div class="image">
      @if(item.primaryImage) {
      <div class="loading-detail"></div>

      <img
        class="click-detail"
        (click)="detail(item.id)"
        [ngSrc]="
          (item.primaryImage.url || '').slice(0, -4) +
          'QL75_UX380_CR0,4,380,562_.jpg'
        "
        [width]="72"
        [height]="106"
        [alt]="item.displayName"
        tabindex="0"
        role="button"
      />
      } @else {
      <div class="error-img">no poster</div>
      }
    </div>
    <div class="header-content">
      <h3
        (click)="detail(item.id)"
        tabindex="0"
        role="button"
        class="click-detail"
      >
        {{ item.displayName }}
      </h3>
    </div>
  </div>
</div>
} } @else if(view() === 'grid') {
<div class="grid">
  @for (item of names(); track item.id) {
  <div class="movie-grid">
    <div class="image">
      <div class="bookmark">
        <mat-icon class="icon-bookmark" [class.active]="true">add</mat-icon>
      </div>
      @if(item.primaryImage) {
      <div class="loading-grid"></div>
      <img
        class="click-detail"
        (click)="detail(item.id)"
        tabindex="0"
        role="button"
        [ngSrc]="
          (item.primaryImage.url || '').slice(0, -4) +
          'QL75_UX380_CR0,4,380,562_.jpg'
        "
        [width]="270"
        [height]="400"
        [alt]="item.displayName"
      />
      } @else {
      <div class="image-empty">no poster</div>
      }

      <div class="header-content">
        <h3
          (click)="detail(item.id)"
          tabindex="0"
          role="button"
          class="click-detail"
        >
          {{ item.displayName }}
        </h3>
      </div>
    </div>
  </div>
  }
</div>
}
