* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  width: calc(100% - 170px);
  max-width: 1400px;
  margin: auto;
  padding-top: 64px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 150px;
}

@media screen and (max-width: 900px) {
  :host {
    width: calc(100% - 40px);
    padding-right: 20px;
  }
}
