<app-navigation />

<main>
  <div class="background" [style.backgroundImage]="backgroundUrl()"></div>
  <app-section id="section1" title="Overview">
    <app-overview
      [type]="type()"
      [title]="titleMovie()"
      [year]="year()"
      [endYear]="endYear()"
      [time]="time()"
      [genres]="genres()"
      [plot]="plot()"
      [directors]="directors()"
      [writers]="writers()"
      [stars]="stars()"
      [rating]="rating()"
      [vote]="vote()"
      [img]="img()"
      [favorite]="isFavorite()"
      (favoriteId)="favoriteId()"
      [trillers]="trillers()"
    />
  </app-section>

  <app-section id="section2" title="Videos">
    <h2 class="title"><span class="circle"></span>Company</h2>
    <p>Текст и контент для второго раздела...</p>
    <!-- Дополнительный контент -->
  </app-section>

  <app-section id="section3" title="Photos">
    <h2 class="title"><span class="circle"></span>Company</h2>
    <p>Текст и контент для третьего раздела...</p>
    <!-- Дополнительный контент -->
  </app-section>

  <app-section id="section4" title="Company">
    <h2 class="title"><span class="circle"></span>Company</h2>
    <app-company [data]="dataCompany().companyCredits" />
  </app-section>
</main>
