<div class="slider">
  @if(actorsList.length > itemsInSlider || moviesList.length > itemsInSlider ) {
  <div class="slider__arrows">
    <mat-icon (click)="slider.next()" fontIcon="arrow_back_ios"></mat-icon>
    <mat-icon (click)="slider.prev()" fontIcon="arrow_forward_ios"></mat-icon>
  </div>
  }
  <owl-carousel-o [options]="sliderConfig" #slider>
    <ng-container *ngIf="actorsList.length > 0; else movies">
      <ng-template  carouselSlide *ngFor="let actor of actorsList">
        <div class="card">
          <img src="{{ actor.primaryImage.url}}" alt="img">
          <div class="card__name"> {{ actor.displayName }}</div>
          @if(id === SliderIdEnum.popular_actors) {
          <div class="card__rating">Rating: <span>{{ actor.meterRanking.currentRank }}</span>
            (@if (actor.meterRanking.changeDirection === 'UP') {
              <mat-icon class="card__rating-up" fontIcon="arrow_upward"></mat-icon>
            } @else if (actor.meterRanking.changeDirection === 'DOWN') {
              <mat-icon class="card__rating-down" fontIcon="arrow_downward"></mat-icon>
            }
            {{ actor.meterRanking.difference }})
          </div>
          }
          @if(id === SliderIdEnum.birthdays_actors) {
            <img src="images/birthday.png" alt="birthday" class="card__birthday-img">
            <div class="card__birthday-data">{{actor.birthDate.day}}.{{actor.birthDate.month}}.{{actor.birthDate.year}}</div>
            <div class="card__year">{{year - actor.birthDate.year}}</div>
          }
        </div>
      </ng-template>
    </ng-container>

    <ng-template #movies>
    <ng-template carouselSlide *ngFor="let movie  of moviesList; let i = index" >
      <div class="card movie">
        <div class="movie__img">
          <img src="{{movie.primaryImage.url}}" alt="img">
          <mat-icon fontIcon="bookmark_add"></mat-icon>
        </div>
        <div class="movie__description">
          <div class="movie__top">Top-{{i + 1}} on IMDb</div>
          <div class="movie__rating">
            <mat-icon fontIcon="star" *ngFor="let star of [].constructor(Math.floor(movie.rating.aggregateRating))"></mat-icon>
            @if(!Number.isInteger(movie.rating.aggregateRating)) {
              <mat-icon fontIcon="star_half"></mat-icon>
            }
            <div class="movie__rating-number">{{ movie.rating.aggregateRating }} (votes: {{ movie.rating.voteCount }})</div>
          </div>
          <div class="movie__title">{{movie.primaryTitle}}</div>
          <button class="btn gray-btn"><mat-icon fontIcon="add"></mat-icon> Watchlist</button>
          <button class="btn gray-btn transparent"><mat-icon fontIcon="arrow_right"></mat-icon> Trailer</button>
        </div>
      </div>
    </ng-template>
    </ng-template>
  </owl-carousel-o>
</div>
