@if (!signalService.refreshSlider() && id !== 'watchlist') {
<div class="slider">
  @if (actorsList.length > itemsInSlider || moviesList && moviesList.length >
  itemsInSlider) {
  <div class="slider__arrows">
    <mat-icon (click)="slider.next()" fontIcon="arrow_back_ios"></mat-icon>
    <mat-icon (click)="slider.prev()" fontIcon="arrow_forward_ios"></mat-icon>
  </div>
  }
  <owl-carousel-o [options]="sliderConfig" #slider>
    @if (actorsList.length > 0) { @for (actor of actorsList; track actor.id) {
    <ng-template carouselSlide>
      <div class="card">
        <a [href]="'/actors/' + actor.id">
          <img
            class="card__actor-img"
            [src]="actor.primaryImage.url | changeUrlPicture"
            alt="img"
            loading="lazy"
          />
        </a>
        <div class="card__name">{{ actor.displayName }}</div>
        @if (id === SliderIdEnum.popular_actors) {
        <div class="card__rating">
          Rating:<span>{{ actor.meterRanking.currentRank }}</span> @if
          (actor.meterRanking.changeDirection === 'UP') { (<mat-icon
            class="card__rating-up"
            fontIcon="arrow_upward"
          ></mat-icon>
          {{ actor.meterRanking.difference }}) } @else if
          (actor.meterRanking.changeDirection === 'DOWN') { (<mat-icon
            class="card__rating-down"
            fontIcon="arrow_downward"
          ></mat-icon
          >{{ actor.meterRanking.difference }}) }
        </div>
        } @if (id === SliderIdEnum.birthdays_actors) {
        <img
          src="images/birthday.png"
          alt="birthday"
          class="card__birthday-img"
          loading="lazy"
        />
        <div class="card__birthday-data">
          {{ actor.birthDate.day }}.{{ actor.birthDate.month }}.{{
            actor.birthDate.year
          }}
        </div>
        <div class="card__year">{{ year - actor.birthDate.year }}</div>
        }
      </div>
    </ng-template>
    } } @else { @for (movie of moviesList; track movie.id; let i = $index) {
    <ng-template carouselSlide>
      <div class="card movie">
        <div class="movie__img">
          @if (movie.primaryImage) {
          <img
            [src]="movie.primaryImage.url | changeUrlPicture"
            alt="No image"
            loading="lazy"
          />
          } @else {
          <img src="images/IMDb.jpg" alt="imbd" loading="lazy" />
          }
          @if(signalService.isLogin()){
          @if (signalService.idForCheckElementInWatchlist().includes(movie.id)) {
          <mat-icon
            class="delete"
            fontIcon="delete"
            (click)="deleteMovie(movie.id)"
          ></mat-icon>
          } @else {
          <mat-icon
            fontIcon="bookmark_add"
            (click)="watchlistService.addMovie(movie)"
          ></mat-icon>
          }
          }
        </div>
        <div class="movie__description">
          @if (id !== 'watchlist') {
          <div class="movie__top">Top-{{ i + 1 }} on IMDb</div>
          }
          <div class="movie__rating">
            @if (movie.rating && movie.rating.aggregateRating) { @for (star of
            [].constructor(Math.floor(movie.rating.aggregateRating)); track
            $index) {
            <mat-icon fontIcon="star"></mat-icon>
            } @if (!Number.isInteger(movie.rating.aggregateRating)) {
            <mat-icon fontIcon="star_half"></mat-icon>
            }
            <div class="movie__rating-number">
              {{ movie.rating.aggregateRating }}(votes:
              {{ movie.rating.voteCount }})
            </div>
            }
          </div>
          <div class="movie__title">{{ movie.primaryTitle }}</div>
          <button
            class="btn gray-btn"
            (click)="moviesService.openMovieAndAddRecentlyViewed(movie)"
          >
            <mat-icon fontIcon="info"></mat-icon>
            Information
          </button>
          <button
            class="btn gray-btn transparent"
            (click)="openTrailerList(movie.id)"
          >
            <mat-icon fontIcon="arrow_right"></mat-icon>
            Trailer
          </button>
        </div>
      </div>
    </ng-template>
    } }
  </owl-carousel-o>
</div>
} @else if (signalService.refreshSliderWatchList() && id === 'watchlist') {
<div class="slider">
  @if (moviesList && moviesList.length > itemsInSlider) {
  <div class="slider__arrows">
    <mat-icon (click)="slider.next()" fontIcon="arrow_back_ios"></mat-icon>
    <mat-icon (click)="slider.prev()" fontIcon="arrow_forward_ios"></mat-icon>
  </div>
  }
  <owl-carousel-o [options]="sliderConfig" #slider>
    @for (movie of moviesList; track movie.id; let i = $index) {
    <ng-template carouselSlide>
      <div class="card movie">
        <div class="movie__img">
          @if (movie.primaryImage) {
          <img
            [src]="movie.primaryImage.url | changeUrlPicture"
            alt="No image"
            loading="lazy"
          />
          } @else {
          <img src="images/IMDb.jpg" alt="imbd" loading="lazy" />
          } @if (id === 'watchlist') {
          <mat-icon
            class="delete"
            (click)="deleteMovie(movie.id)"
            fontIcon="delete"
          ></mat-icon>
          } @else {
          <mat-icon fontIcon="bookmark_add"></mat-icon>
          }
        </div>
        <div class="movie__description">
          @if (id !== 'watchlist') {
          <div class="movie__top">Top-{{ i + 1 }} on IMDb</div>
          }
          <div class="movie__rating">
            @if (movie.rating && movie.rating.aggregateRating) { @for (star of
            [].constructor(Math.floor(movie.rating.aggregateRating)); track
            $index) {
            <mat-icon fontIcon="star"></mat-icon>
            } @if (!Number.isInteger(movie.rating.aggregateRating)) {
            <mat-icon fontIcon="star_half"></mat-icon>
            }
            <div class="movie__rating-number">
              {{ movie.rating.aggregateRating }}(votes:
              {{ movie.rating.voteCount }})
            </div>
            }
          </div>
          <div class="movie__title">{{ movie.primaryTitle }}</div>
          <button
            class="btn gray-btn"
            (click)="moviesService.openMovieAndAddRecentlyViewed(movie)"
          >
            <mat-icon fontIcon="info"></mat-icon>
            Information
          </button>
          <button
            class="btn gray-btn transparent"
            (click)="openTrailerList(movie.id)"
          >
            <mat-icon fontIcon="arrow_right"></mat-icon>
            Trailer
          </button>
        </div>
      </div>
    </ng-template>
    }
  </owl-carousel-o>
</div>
} @else if (signalService.refreshSliderWatchList() && id === 'watchlist') {
<div class="slider">
  @if (moviesList && moviesList.length > itemsInSlider) {
  <div class="slider__arrows">
    <mat-icon (click)="slider.next()" fontIcon="arrow_back_ios"></mat-icon>
    <mat-icon (click)="slider.prev()" fontIcon="arrow_forward_ios"></mat-icon>
  </div>
  }
  <owl-carousel-o [options]="sliderConfig" #slider>
    <ng-container>
      @for(movie of moviesList; track $index) {
      <ng-template carouselSlide>
        <div class="card movie">
          <div class="movie__img">
            @if(movie.primaryImage) {
            <img
              src="{{ movie.primaryImage.url | changeUrlPicture }}"
              alt="No image"
              loading="lazy"
            />
            } @else {
            <img src="images/IMDb.jpg" alt="imbd" loading="lazy" />
            } @if(id === 'watchlist') {
            <mat-icon
              class="delete"
              (click)="deleteMovie(movie.id)"
              fontIcon="delete"
            ></mat-icon>
            } @else {
            <mat-icon fontIcon="bookmark_add"></mat-icon>
            }
          </div>
          <div class="movie__description">
            @if(id !== 'watchlist') {
            <div class="movie__top">Top-{{ $index + 1 }} on IMDb</div>
            }
            <div class="movie__rating">
              @if(movie.rating && movie.rating.aggregateRating) {
              <mat-icon
                fontIcon="star"
                *ngFor="
                  let star of [].constructor(
                    Math.floor(movie.rating.aggregateRating)
                  )
                "
              ></mat-icon>
              @if (!Number.isInteger(movie.rating.aggregateRating)) {
              <mat-icon fontIcon="star_half"></mat-icon>
              }
              <div class="movie__rating-number">
                {{ movie.rating.aggregateRating }} (votes:
                {{ movie.rating.voteCount }})
              </div>
              }
            </div>
            <div class="movie__title">{{ movie.primaryTitle }}</div>
            <button class="btn gray-btn">
              <mat-icon fontIcon="info"></mat-icon>
              Information
            </button>
            <button
              class="btn gray-btn transparent"
              (click)="openTrailerList(movie.id)"
            >
              <mat-icon fontIcon="arrow_right"></mat-icon>
              Trailer
            </button>
          </div>
        </div>
      </ng-template>
      }
    </ng-container>
  </owl-carousel-o>
</div>
}
