<div class="watchlist">
  <div class="container">
    <div class="watchlist__title">Your watchlist</div>
    @if(movies.titles && movies.titles.length === 0) {
    <div class="watchlist__empty">
      <mat-icon fontIcon="no_backpack"></mat-icon>
      <div class="watchlist__empty-text">Your watchlist is empty</div>
    </div>
    } @else if(movies.titles && movies.titles.length > 0) {
    <div class="watchlist__no-empty">
      <div class="watchlist__elements">
        @for(movie of movies.titles; track movie.id) {
        <div class="watchlist__element">
          <div class="watchlist__element-img">
            @if(movie.primaryImage) {
              <img src="{{movie.primaryImage.url | changeUrlPicture}}" alt="No image" loading="lazy">
            } @else {
              <img src="images/IMDb.jpg" alt="imbd" loading="lazy">
            }
          </div>
          <div class="watchlist__element-description">
            <div class="watchlist__element-title">{{movie.primaryTitle}}</div>
            @if(movie.rating) {
            <div class="watchlist__element-rating">
              <div class="rating-stars">
                @for(star of [].constructor(Math.floor(movie.rating.aggregateRating)); track $index) {
                  <mat-icon fontIcon="star"></mat-icon>
                }
                @if (!Number.isInteger(movie.rating.aggregateRating)) {
                  <mat-icon fontIcon="star_half"></mat-icon>
                }
              </div>
              {{ movie.rating.aggregateRating }} (votes: {{ movie.rating.voteCount }})
            </div>
              }
            <div class="watchlist__element-year">{{movie.startYear}} year</div>
            <div class="watchlist__element-actions">
              <mat-icon class="play" fontIcon="slow_motion_video" (click)="openTrailerList(movie.id)" ></mat-icon>
              <mat-icon class="info" fontIcon="info" (click)="moviesService.openMovieAndAddRecentlyViewed(movie)"></mat-icon>
              <mat-icon class="delete" (click)="watchlistService.deleteMovie(movie.id)" fontIcon="delete"></mat-icon>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    }
    <button class="btn btn-back-to-main" [routerLink]="'/' + AppRoutesEnum.MAIN">Back main</button>
  </div>
</div>
