@use "../../../../../styles/variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.movie {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $background-light-transparent-50;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;

  &:first-child:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $background-light-transparent-100;
    top: -15px;
    left: 0;
  }
}

.loading-detail,
.loading-grid {
  width: 72px;
  height: 106px;
  position: absolute;
  box-shadow: 0 2px 10px 0 $background-light-transparent-50;
  background: $background-light-transparent-50;
  overflow: hidden;
  z-index: -1;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 80%;
    background: linear-gradient(
      to right,
      transparent 0%,
      $background-light-transparent-100 50%,
      transparent 100%
    );
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}

.loading-grid {
  height: 400px;
  width: 270px;
}

.error-img {
  position: absolute;
  width: 72px;
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genres {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.image {
  flex-shrink: 0;
  position: relative;
  width: 72px;
  height: 106px;

  img {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .bookmark {
    position: absolute;
    cursor: pointer;

    &:hover {
      .icon-bookmark {
        color: $light-yellow;
      }
    }

    .icon-bookmark {
      position: absolute;
      top: -2px;
      left: -12px;

      &.active {
        color: $light-yellow;
      }
    }
  }
}

.describe {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon-star {
  color: $light-yellow;
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.star {
  display: flex;
  align-items: center;
  gap: 5px;
}

.time {
  color: $filter-title-text;
}

.genre {
  background-color: $background-light-transparent-100;
  padding: 5px 10px;
  border-radius: 50px;
}

.bookmark {
  position: relative;
  height: 30px;
  width: 20px;
  padding: 0px;
  border-left: 10px solid rgba(80, 79, 79, 0.95);
  border-right: 11px solid rgba(80, 79, 79, 0.95);
  border-bottom: 10px solid transparent;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;

  .movie-grid {
    display: flex;
    flex-direction: column;
    width: 270px;
    background-color: $background-light-transparent-50;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    .image {
      width: 270px;
      height: auto;
    }

    .image-empty {
      width: 270px;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-content {
      padding: 10px;
    }
  }
}
