@use "../../../../../styles/variables" as *;

button {
  font-size: 14px;
  background-color: $background-light-transparent-50;
  color: $filter-category-text;
  outline: none;
  border: none;
  border: 1px solid $background-transparent-600;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    border: 1px solid $light-yellow;
    color: $light-yellow;
  }
}

.active {
  border: 1px solid $light-yellow;
  color: $light-yellow;
}
