@use '../../../../styles/variables' as *;

.error404 {
  &__wrapper {
    width: 100%;
    min-height: 750px;
    background-image: url("/images/error-404.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .btn {
    width: 300px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    background: var(--light-text-primary);
    color: var(--light-background-secondary);
    position: absolute;
    bottom: 200px;
    left: 10%;
    border: 1px solid var(--main-light-yellow);

    &:hover {
      background: var(--light-text-secondary);
    }
  }
}

@media screen and (max-width: 1000px) {
  .error404 {
    &__wrapper {
      min-height: 90vw;
      background-size: contain;
    }

    .btn {
      width: 35vw;
      padding: 10px;
      bottom: 20vw;
      left: 10%;
      font-size: 3vw;
    }
  }
}
