<header class="header">
  <div class="container">
    <div class="header__logo" [routerLink]="'/' + AppRoutesEnum.MAIN">IMDb</div>
    <div class="header__menu" (click)="actionsToMenu()" (keyup.enter)="actionsToMenu()" tabindex="0">
      <span class="menu-line"></span>
      <div class="menu-text">Menu</div>
    </div>
    <div class="header__search">
      <mat-form-field class="header__search-select" appearance="outline">
        <mat-select required [value]="'all'" panelClass="custom-select-panel">
          <mat-option value="all">
            <mat-icon>search</mat-icon>
            All
          </mat-option>
          <mat-option value="titles">
            <mat-icon>theaters</mat-icon>
            Titles
          </mat-option>
          <mat-option value="episodes">
            <mat-icon>tv</mat-icon>
            TV episodes
          </mat-option>
          <mat-option value="celebs">
            <mat-icon>group</mat-icon>
            Celebs
          </mat-option>
          <mat-option value="companies">
            <mat-icon>domain</mat-icon>
            Companies
          </mat-option>
          <mat-option value="keywords">
            <mat-icon>label</mat-icon>
            Keywords
          </mat-option>
        </mat-select>
      </mat-form-field>
      <input [formControl]="searchValue" class="header__search-input" type="text" placeholder="Search IMDb">
      <mat-icon class="header__search-magnifier" aria-hidden="false" aria-label="Example home icon"
                fontIcon="search"></mat-icon>
      @if (foundMovies && foundMovies.titles) {
        <div class="header__search-list">
          <div class="search__element" *ngFor="let movie of foundMovies.titles">
            <div class="search__element-img">
              <img src="{{movie.primaryImage?.url}}" alt="No img">
            </div>
            <div class="search__element-description">
              <div class="search__element-title">{{ movie.primaryTitle }}</div>
              @if (movie.rating && movie.rating.aggregateRating) {
                <div class="search__element-rating">
                  <div class="stars">
                    <mat-icon fontIcon="star"
                              *ngFor="let star of [].constructor(Math.floor(movie.rating.aggregateRating))"></mat-icon>
                    @if (!Number.isInteger(movie.rating.aggregateRating)) {
                      <mat-icon fontIcon="star_half"></mat-icon>
                    }
                  </div>
                  {{ movie.rating.aggregateRating }} (votes: {{ movie.rating.voteCount }})
                </div>
              }
              @if(movie.startYear){
                <div class="search__element-year">{{movie.startYear}} year</div>
              }
            </div>
          </div>
        </div>
      }
    </div>
    <div class="header__actions">
      <div class="header__actions-pro">
        IMDb<span>Pro</span>
        <div class="imbdPro">
          <div class="imbdPro__wrapper">
            <img src="./images/imbdPro.png" alt="pro">
            <button class="btn">Try ImbdPro for FREE</button>
          </div>
        </div>
      </div>
      <span class="header__actions-line"></span>
      @if(signalService.isLogin()) {
      <div class="header__actions-watchList" [routerLink]="'/' + AppRoutesEnum.WATCHLIST">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bookmark_add"></mat-icon>
        WatchList
      </div>
      }
      @if (!signalService.isLogin()) {
        <div class="header__actions-signUp" [routerLink]="'/' + AppRoutesEnum.LOGIN">Log in</div>
      } @else {
        <mat-icon [matMenuTriggerFor]="menu" class="header__actions-user" fontIcon="person"></mat-icon>
        <mat-menu #menu="matMenu">
          <div class="user-name">{{ signalService.userData().name }}</div>
          <button mat-menu-item (click)="logout()">
            <mat-icon fontIcon="logout"></mat-icon>
            Log out
          </button>
        </mat-menu>
      }
      <mat-form-field class="header__actions-lang" appearance="outline">
        <mat-select required [value]="'en'" panelClass="custom-select-lang">
          <mat-option value="en">
            EN
          </mat-option>
          <mat-option value="ru">
            RU
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="menu" [class.open]="isOpenMenu">
      <div class="menu__container">
        <div class="menu__header">
          <div class="header__logo">IMDb</div>
          <mat-icon class="menu__close" fontIcon="cancel" (click)="actionsToMenu()"></mat-icon>
        </div>

        <div class="menu__clone">
          <div class="header__search">
            <mat-form-field class="header__search-select" appearance="outline">
              <mat-select required [value]="'all'" panelClass="custom-select-panel">
                <mat-option value="all">
                  <mat-icon>search</mat-icon>
                  All
                </mat-option>
                <mat-option value="titles">
                  <mat-icon>theaters</mat-icon>
                  Titles
                </mat-option>
                <mat-option value="episodes">
                  <mat-icon>tv</mat-icon>
                  TV episodes
                </mat-option>
                <mat-option value="celebs">
                  <mat-icon>group</mat-icon>
                  Celebs
                </mat-option>
                <mat-option value="companies">
                  <mat-icon>domain</mat-icon>
                  Companies
                </mat-option>
                <mat-option value="keywords">
                  <mat-icon>label</mat-icon>
                  Keywords
                </mat-option>
              </mat-select>
            </mat-form-field>
            <input class="header__search-input" type="text" placeholder="Search IMDb">
            <mat-icon class="header__search-magnifier" aria-hidden="false" aria-label="Example home icon"
                      fontIcon="search"></mat-icon>
          </div>
          <div class="header__actions">
            <div class="header__actions-pro">
              IMDb<span>Pro</span>
              <div class="imbdPro">
                <div class="imbdPro__wrapper">
                  <img src="./images/imbdPro.png" alt="pro">
                  <button class="btn">Try ImbdPro for FREE</button>
                </div>
              </div>
            </div>
            <span class="header__actions-line"></span>
            @if(signalService.isLogin()) {
            <div class="header__actions-watchList" [routerLink]="'/' + AppRoutesEnum.WATCHLIST">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bookmark_add"></mat-icon>
              WatchList
            </div>
            }
            @if (!signalService.isLogin()) {
              <div class="header__actions-signUp" [routerLink]="'/' + AppRoutesEnum.LOGIN">Log in</div>
            } @else {
              <mat-icon [matMenuTriggerFor]="menu" class="header__actions-user" fontIcon="person"></mat-icon>
              <mat-menu #menu="matMenu">
                <div class="user-name">{{ signalService.userData().name }}</div>
                <button mat-menu-item>
                  <mat-icon fontIcon="logout" (click)="logout()"></mat-icon>
                  Log out
                </button>
              </mat-menu>
            }
            <mat-form-field class="header__actions-lang" appearance="outline">
              <mat-select required [value]="'en'" panelClass="custom-select-lang">
                <mat-option value="en">
                  EN
                </mat-option>
                <mat-option value="ru">
                  RU
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="menu__blocks">
          <div class="menu__block">
            <div class="menu__block-title">
              <mat-icon fontIcon="theaters"></mat-icon>
              <span>Movies</span>
            </div>
            <nav>
              <ul>
                <li><a href="#">Release</a></li>
                <li><a href="#">Top 250 movies</a></li>
                <li><a href="#">Most popular movies</a></li>
              </ul>
            </nav>
          </div>
          <div class="menu__block">
            <div class="menu__block-title">
              <mat-icon fontIcon="group"></mat-icon>
              <span>Celebs</span>
            </div>
            <nav>
              <ul>
                <li><a href="#">Born today</a></li>
                <li><a href="#">Most popular celebs</a></li>
                <li><a href="#">Celebrity news</a></li>
              </ul>
            </nav>
          </div>
          <div class="menu__block">
            <div class="menu__block-title">
              <mat-icon fontIcon="tv"></mat-icon>
              <span>TV shows</span>
            </div>
            <nav>
              <ul>
                <li><a href="#">What's on TV & streaming</a></li>
                <li><a href="#">Top 250 shows</a></li>
                <li><a href="#">Most popular TV shows</a></li>
              </ul>
            </nav>
          </div>
          <div class="menu__block">
            <div class="menu__block-title">
              <mat-icon fontIcon="video_library"></mat-icon>
              <span>Watch</span>
            </div>
            <nav>
              <ul>
                <li><a href="#">Want to watch</a></li>
                <li><a href="#">Latest trailers</a></li>
                <li><a href="#">IMDB Originals</a></li>
              </ul>
            </nav>
          </div>
          <div class="menu__block">
            <div class="menu__block-title">
              <mat-icon fontIcon="stars"></mat-icon>
              <span>Awards & events</span>
            </div>
            <nav>
              <ul>
                <li><a href="#">Oscars</a></li>
                <li><a href="#">Emmys</a></li>
                <li><a href="#">San Diego Comic-Con</a></li>
              </ul>
            </nav>
          </div>
          <div class="menu__block">
            <div class="menu__block-title">
              <mat-icon fontIcon="public"></mat-icon>
              <span>Community</span>
            </div>
            <nav>
              <ul>
                <li><a href="#">Help center</a></li>
                <li><a href="#">Contributor zone</a></li>
                <li><a href="#">Polls</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
